:root{
    --pulse-color-0: rgba(0, 0, 0, 0.2);
    --pulse-color-1: rgba(0, 0, 0, 0);
}

.homey-dark-mode {
    /* --homey-background-color: var(--homey-color-mono-050); */
    --pulse-color-0: rgba(255, 255, 255, 0.2);
    --pulse-color-1: rgba(255, 255, 255, 0);
}

/* .homey-widget-full-width {
    background-color: var(--homey-color-mono-025);
} */

.power-price-widget { 
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    height: fit-content;
    gap: var(--homey-su-2) 0;
    /* --theme-boxShadow-default: 0 2px 4px 0 rgba(0, 0, 0, 0.12); */
}

.device-name {
    margin-bottom: 0;
}

/* Active state */
.running {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: var(--homey-su-5);
}
.running::after {
    position: absolute;
    right: 0;
    content:'';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    box-shadow: 0px 0px 1px 1px #0000001a;
    background: var(--homey-color-mono-300);
}

.is-running::after {
    /* position: absolute;
    right: 0;
    content:'';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    box-shadow: 0px 0px 1px 1px #0000001a; */
    animation: pulse-animation 2s infinite;
    background: var(--homey-color-blue-400);
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px var(--pulse-color-0);
  }
  100% {
    box-shadow: 0 0 0 10px var(--pulse-color-1);
  }
}

/* end */

.results {
    grid-column: span 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--homey-su-1) var(--homey-su-3);
}

.var-item {
    display: grid;
    grid-gap: var(--homey-su-1) var(--homey-su-2);
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center;

    padding: 0 var(--homey-su-2);
    /* border-radius: var(--homey-border-radius-default); */
    /* background-color: var(--homey-background-color); */

    /* Temp, because shadow is missing */
    /* box-shadow: var(--theme-boxShadow-default); */
    /* box-sizing: border-box; */
}

.var-item:not(:last-child) {
    border-right: 1px solid var(--homey-color-mono-200);
}

/* .homey-dark-mode .var-item {
    background-color: var(--homey-color-mono-050);
} */

.var-item .key,
.var-item .value {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.var-item .value {
    font-weight: var(--homey-font-weight-medium);
    font-size: var(--homey-font-size-default);
}

.timestamp {
    /* border-top: 1px solid var(--homey-color-mono-200);
    padding-top: var(--homey-su-1); */
    grid-column: span 2;
    font-style: italic;
}